@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.hide_scrollbr::-webkit-scrollbar {
  display: none;
}
